/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid red;
}

/* Colours */
:root {
    --primary-colour: #0065FC;
    --secondary-colour: #DEEBFF;
    --background: #D9D9D9;
    --shadow: #F2F2F2;
}

/* Typography */
:root {
    --primary-font: 'Raleway', Arial, sans-serif;
}